/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
@error-angle-x: 0px;
@error-angle-y: 14px;
@error-angle-offset-x: 0px;
@error-angle-offset-y: -14px;
@error-angle-width: 20px;
@error-angle-height: 15px;
@error-angle-total-width: 348px;
@error-angle-total-height: 2524px;
@error-angle-image: '../img/sprites/spritesheet.png';
@error-angle: 0px 14px 0px -14px 20px 15px 348px 2524px '../img/sprites/spritesheet.png';
@icon-android-1-x: 0px;
@icon-android-1-y: 513px;
@icon-android-1-offset-x: 0px;
@icon-android-1-offset-y: -513px;
@icon-android-1-width: 30px;
@icon-android-1-height: 35px;
@icon-android-1-total-width: 348px;
@icon-android-1-total-height: 2524px;
@icon-android-1-image: '../img/sprites/spritesheet.png';
@icon-android-1: 0px 513px 0px -513px 30px 35px 348px 2524px '../img/sprites/spritesheet.png';
@icon-android-2-x: 0px;
@icon-android-2-y: 583px;
@icon-android-2-offset-x: 0px;
@icon-android-2-offset-y: -583px;
@icon-android-2-width: 30px;
@icon-android-2-height: 35px;
@icon-android-2-total-width: 348px;
@icon-android-2-total-height: 2524px;
@icon-android-2-image: '../img/sprites/spritesheet.png';
@icon-android-2: 0px 583px 0px -583px 30px 35px 348px 2524px '../img/sprites/spritesheet.png';
@icon-android-3-x: 0px;
@icon-android-3-y: 478px;
@icon-android-3-offset-x: 0px;
@icon-android-3-offset-y: -478px;
@icon-android-3-width: 30px;
@icon-android-3-height: 35px;
@icon-android-3-total-width: 348px;
@icon-android-3-total-height: 2524px;
@icon-android-3-image: '../img/sprites/spritesheet.png';
@icon-android-3: 0px 478px 0px -478px 30px 35px 348px 2524px '../img/sprites/spritesheet.png';
@icon-android-4-x: 0px;
@icon-android-4-y: 548px;
@icon-android-4-offset-x: 0px;
@icon-android-4-offset-y: -548px;
@icon-android-4-width: 30px;
@icon-android-4-height: 35px;
@icon-android-4-total-width: 348px;
@icon-android-4-total-height: 2524px;
@icon-android-4-image: '../img/sprites/spritesheet.png';
@icon-android-4: 0px 548px 0px -548px 30px 35px 348px 2524px '../img/sprites/spritesheet.png';
@icon-apple-1-x: 0px;
@icon-apple-1-y: 321px;
@icon-apple-1-offset-x: 0px;
@icon-apple-1-offset-y: -321px;
@icon-apple-1-width: 25px;
@icon-apple-1-height: 31px;
@icon-apple-1-total-width: 348px;
@icon-apple-1-total-height: 2524px;
@icon-apple-1-image: '../img/sprites/spritesheet.png';
@icon-apple-1: 0px 321px 0px -321px 25px 31px 348px 2524px '../img/sprites/spritesheet.png';
@icon-apple-2-x: 0px;
@icon-apple-2-y: 352px;
@icon-apple-2-offset-x: 0px;
@icon-apple-2-offset-y: -352px;
@icon-apple-2-width: 25px;
@icon-apple-2-height: 31px;
@icon-apple-2-total-width: 348px;
@icon-apple-2-total-height: 2524px;
@icon-apple-2-image: '../img/sprites/spritesheet.png';
@icon-apple-2: 0px 352px 0px -352px 25px 31px 348px 2524px '../img/sprites/spritesheet.png';
@icon-apple-3-x: 0px;
@icon-apple-3-y: 383px;
@icon-apple-3-offset-x: 0px;
@icon-apple-3-offset-y: -383px;
@icon-apple-3-width: 25px;
@icon-apple-3-height: 31px;
@icon-apple-3-total-width: 348px;
@icon-apple-3-total-height: 2524px;
@icon-apple-3-image: '../img/sprites/spritesheet.png';
@icon-apple-3: 0px 383px 0px -383px 25px 31px 348px 2524px '../img/sprites/spritesheet.png';
@icon-apple-4-x: 0px;
@icon-apple-4-y: 414px;
@icon-apple-4-offset-x: 0px;
@icon-apple-4-offset-y: -414px;
@icon-apple-4-width: 25px;
@icon-apple-4-height: 31px;
@icon-apple-4-total-width: 348px;
@icon-apple-4-total-height: 2524px;
@icon-apple-4-image: '../img/sprites/spritesheet.png';
@icon-apple-4: 0px 414px 0px -414px 25px 31px 348px 2524px '../img/sprites/spritesheet.png';
@icon-avia-x: 0px;
@icon-avia-y: 2060px;
@icon-avia-offset-x: 0px;
@icon-avia-offset-y: -2060px;
@icon-avia-width: 71px;
@icon-avia-height: 70px;
@icon-avia-total-width: 348px;
@icon-avia-total-height: 2524px;
@icon-avia-image: '../img/sprites/spritesheet.png';
@icon-avia: 0px 2060px 0px -2060px 71px 70px 348px 2524px '../img/sprites/spritesheet.png';
@icon-close-hover-x: 0px;
@icon-close-hover-y: 101px;
@icon-close-hover-offset-x: 0px;
@icon-close-hover-offset-y: -101px;
@icon-close-hover-width: 24px;
@icon-close-hover-height: 24px;
@icon-close-hover-total-width: 348px;
@icon-close-hover-total-height: 2524px;
@icon-close-hover-image: '../img/sprites/spritesheet.png';
@icon-close-hover: 0px 101px 0px -101px 24px 24px 348px 2524px '../img/sprites/spritesheet.png';
@icon-close-x: 0px;
@icon-close-y: 125px;
@icon-close-offset-x: 0px;
@icon-close-offset-y: -125px;
@icon-close-width: 24px;
@icon-close-height: 24px;
@icon-close-total-width: 348px;
@icon-close-total-height: 2524px;
@icon-close-image: '../img/sprites/spritesheet.png';
@icon-close: 0px 125px 0px -125px 24px 24px 348px 2524px '../img/sprites/spritesheet.png';
@icon-corporate-lg-x: 0px;
@icon-corporate-lg-y: 957px;
@icon-corporate-lg-offset-x: 0px;
@icon-corporate-lg-offset-y: -957px;
@icon-corporate-lg-width: 36px;
@icon-corporate-lg-height: 48px;
@icon-corporate-lg-total-width: 348px;
@icon-corporate-lg-total-height: 2524px;
@icon-corporate-lg-image: '../img/sprites/spritesheet.png';
@icon-corporate-lg: 0px 957px 0px -957px 36px 48px 348px 2524px '../img/sprites/spritesheet.png';
@icon-file-attachment-x: 0px;
@icon-file-attachment-y: 913px;
@icon-file-attachment-offset-x: 0px;
@icon-file-attachment-offset-y: -913px;
@icon-file-attachment-width: 50px;
@icon-file-attachment-height: 44px;
@icon-file-attachment-total-width: 348px;
@icon-file-attachment-total-height: 2524px;
@icon-file-attachment-image: '../img/sprites/spritesheet.png';
@icon-file-attachment: 0px 913px 0px -913px 50px 44px 348px 2524px '../img/sprites/spritesheet.png';
@icon-flag-en-x: 0px;
@icon-flag-en-y: 44px;
@icon-flag-en-offset-x: 0px;
@icon-flag-en-offset-y: -44px;
@icon-flag-en-width: 23px;
@icon-flag-en-height: 15px;
@icon-flag-en-total-width: 348px;
@icon-flag-en-total-height: 2524px;
@icon-flag-en-image: '../img/sprites/spritesheet.png';
@icon-flag-en: 0px 44px 0px -44px 23px 15px 348px 2524px '../img/sprites/spritesheet.png';
@icon-flag-ru-x: 0px;
@icon-flag-ru-y: 29px;
@icon-flag-ru-offset-x: 0px;
@icon-flag-ru-offset-y: -29px;
@icon-flag-ru-width: 23px;
@icon-flag-ru-height: 15px;
@icon-flag-ru-total-width: 348px;
@icon-flag-ru-total-height: 2524px;
@icon-flag-ru-image: '../img/sprites/spritesheet.png';
@icon-flag-ru: 0px 29px 0px -29px 23px 15px 348px 2524px '../img/sprites/spritesheet.png';
@icon-hotels-x: 0px;
@icon-hotels-y: 1990px;
@icon-hotels-offset-x: 0px;
@icon-hotels-offset-y: -1990px;
@icon-hotels-width: 72px;
@icon-hotels-height: 70px;
@icon-hotels-total-width: 348px;
@icon-hotels-total-height: 2524px;
@icon-hotels-image: '../img/sprites/spritesheet.png';
@icon-hotels: 0px 1990px 0px -1990px 72px 70px 348px 2524px '../img/sprites/spritesheet.png';
@icon-logo-scroll-x: 0px;
@icon-logo-scroll-y: 870px;
@icon-logo-scroll-offset-x: 0px;
@icon-logo-scroll-offset-y: -870px;
@icon-logo-scroll-width: 200px;
@icon-logo-scroll-height: 43px;
@icon-logo-scroll-total-width: 348px;
@icon-logo-scroll-total-height: 2524px;
@icon-logo-scroll-image: '../img/sprites/spritesheet.png';
@icon-logo-scroll: 0px 870px 0px -870px 200px 43px 348px 2524px '../img/sprites/spritesheet.png';
@icon-logo-x: 0px;
@icon-logo-y: 2130px;
@icon-logo-offset-x: 0px;
@icon-logo-offset-y: -2130px;
@icon-logo-width: 348px;
@icon-logo-height: 74px;
@icon-logo-total-width: 348px;
@icon-logo-total-height: 2524px;
@icon-logo-image: '../img/sprites/spritesheet.png';
@icon-logo: 0px 2130px 0px -2130px 348px 74px 348px 2524px '../img/sprites/spritesheet.png';
@icon-menu-hover-x: 0px;
@icon-menu-hover-y: 261px;
@icon-menu-hover-offset-x: 0px;
@icon-menu-hover-offset-y: -261px;
@icon-menu-hover-width: 30px;
@icon-menu-hover-height: 30px;
@icon-menu-hover-total-width: 348px;
@icon-menu-hover-total-height: 2524px;
@icon-menu-hover-image: '../img/sprites/spritesheet.png';
@icon-menu-hover: 0px 261px 0px -261px 30px 30px 348px 2524px '../img/sprites/spritesheet.png';
@icon-menu-x: 0px;
@icon-menu-y: 291px;
@icon-menu-offset-x: 0px;
@icon-menu-offset-y: -291px;
@icon-menu-width: 30px;
@icon-menu-height: 30px;
@icon-menu-total-width: 348px;
@icon-menu-total-height: 2524px;
@icon-menu-image: '../img/sprites/spritesheet.png';
@icon-menu: 0px 291px 0px -291px 30px 30px 348px 2524px '../img/sprites/spritesheet.png';
@icon-mouse-x: 0px;
@icon-mouse-y: 1101px;
@icon-mouse-offset-x: 0px;
@icon-mouse-offset-y: -1101px;
@icon-mouse-width: 20px;
@icon-mouse-height: 49px;
@icon-mouse-total-width: 348px;
@icon-mouse-total-height: 2524px;
@icon-mouse-image: '../img/sprites/spritesheet.png';
@icon-mouse: 0px 1101px 0px -1101px 20px 49px 348px 2524px '../img/sprites/spritesheet.png';
@icon-operators-lg-x: 0px;
@icon-operators-lg-y: 1200px;
@icon-operators-lg-offset-x: 0px;
@icon-operators-lg-offset-y: -1200px;
@icon-operators-lg-width: 50px;
@icon-operators-lg-height: 50px;
@icon-operators-lg-total-width: 348px;
@icon-operators-lg-total-height: 2524px;
@icon-operators-lg-image: '../img/sprites/spritesheet.png';
@icon-operators-lg: 0px 1200px 0px -1200px 50px 50px 348px 2524px '../img/sprites/spritesheet.png';
@icon-operators-x: 0px;
@icon-operators-y: 1850px;
@icon-operators-offset-x: 0px;
@icon-operators-offset-y: -1850px;
@icon-operators-width: 72px;
@icon-operators-height: 70px;
@icon-operators-total-width: 348px;
@icon-operators-total-height: 2524px;
@icon-operators-image: '../img/sprites/spritesheet.png';
@icon-operators: 0px 1850px 0px -1850px 72px 70px 348px 2524px '../img/sprites/spritesheet.png';
@icon-reg-1-x: 0px;
@icon-reg-1-y: 786px;
@icon-reg-1-offset-x: 0px;
@icon-reg-1-offset-y: -786px;
@icon-reg-1-width: 44px;
@icon-reg-1-height: 42px;
@icon-reg-1-total-width: 348px;
@icon-reg-1-total-height: 2524px;
@icon-reg-1-image: '../img/sprites/spritesheet.png';
@icon-reg-1: 0px 786px 0px -786px 44px 42px 348px 2524px '../img/sprites/spritesheet.png';
@icon-reg-2-x: 0px;
@icon-reg-2-y: 1053px;
@icon-reg-2-offset-x: 0px;
@icon-reg-2-offset-y: -1053px;
@icon-reg-2-width: 36px;
@icon-reg-2-height: 48px;
@icon-reg-2-total-width: 348px;
@icon-reg-2-total-height: 2524px;
@icon-reg-2-image: '../img/sprites/spritesheet.png';
@icon-reg-2: 0px 1053px 0px -1053px 36px 48px 348px 2524px '../img/sprites/spritesheet.png';
@icon-reg-3-x: 0px;
@icon-reg-3-y: 1150px;
@icon-reg-3-offset-x: 0px;
@icon-reg-3-offset-y: -1150px;
@icon-reg-3-width: 50px;
@icon-reg-3-height: 50px;
@icon-reg-3-total-width: 348px;
@icon-reg-3-total-height: 2524px;
@icon-reg-3-image: '../img/sprites/spritesheet.png';
@icon-reg-3: 0px 1150px 0px -1150px 50px 50px 348px 2524px '../img/sprites/spritesheet.png';
@icon-reg-4-x: 0px;
@icon-reg-4-y: 445px;
@icon-reg-4-offset-x: 0px;
@icon-reg-4-offset-y: -445px;
@icon-reg-4-width: 50px;
@icon-reg-4-height: 33px;
@icon-reg-4-total-width: 348px;
@icon-reg-4-total-height: 2524px;
@icon-reg-4-image: '../img/sprites/spritesheet.png';
@icon-reg-4: 0px 445px 0px -445px 50px 33px 348px 2524px '../img/sprites/spritesheet.png';
@icon-reg-5-x: 0px;
@icon-reg-5-y: 1005px;
@icon-reg-5-offset-x: 0px;
@icon-reg-5-offset-y: -1005px;
@icon-reg-5-width: 50px;
@icon-reg-5-height: 48px;
@icon-reg-5-total-width: 348px;
@icon-reg-5-total-height: 2524px;
@icon-reg-5-image: '../img/sprites/spritesheet.png';
@icon-reg-5: 0px 1005px 0px -1005px 50px 48px 348px 2524px '../img/sprites/spritesheet.png';
@icon-services-arrow-hover-x: 0px;
@icon-services-arrow-hover-y: 80px;
@icon-services-arrow-hover-offset-x: 0px;
@icon-services-arrow-hover-offset-y: -80px;
@icon-services-arrow-hover-width: 12px;
@icon-services-arrow-hover-height: 21px;
@icon-services-arrow-hover-total-width: 348px;
@icon-services-arrow-hover-total-height: 2524px;
@icon-services-arrow-hover-image: '../img/sprites/spritesheet.png';
@icon-services-arrow-hover: 0px 80px 0px -80px 12px 21px 348px 2524px '../img/sprites/spritesheet.png';
@icon-services-arrow-normal-x: 0px;
@icon-services-arrow-normal-y: 59px;
@icon-services-arrow-normal-offset-x: 0px;
@icon-services-arrow-normal-offset-y: -59px;
@icon-services-arrow-normal-width: 12px;
@icon-services-arrow-normal-height: 21px;
@icon-services-arrow-normal-total-width: 348px;
@icon-services-arrow-normal-total-height: 2524px;
@icon-services-arrow-normal-image: '../img/sprites/spritesheet.png';
@icon-services-arrow-normal: 0px 59px 0px -59px 12px 21px 348px 2524px '../img/sprites/spritesheet.png';
@icon-services-money-purple-x: 0px;
@icon-services-money-purple-y: 1550px;
@icon-services-money-purple-offset-x: 0px;
@icon-services-money-purple-offset-y: -1550px;
@icon-services-money-purple-width: 60px;
@icon-services-money-purple-height: 60px;
@icon-services-money-purple-total-width: 348px;
@icon-services-money-purple-total-height: 2524px;
@icon-services-money-purple-image: '../img/sprites/spritesheet.png';
@icon-services-money-purple: 0px 1550px 0px -1550px 60px 60px 348px 2524px '../img/sprites/spritesheet.png';
@icon-services-star-blue-x: 0px;
@icon-services-star-blue-y: 1490px;
@icon-services-star-blue-offset-x: 0px;
@icon-services-star-blue-offset-y: -1490px;
@icon-services-star-blue-width: 60px;
@icon-services-star-blue-height: 60px;
@icon-services-star-blue-total-width: 348px;
@icon-services-star-blue-total-height: 2524px;
@icon-services-star-blue-image: '../img/sprites/spritesheet.png';
@icon-services-star-blue: 0px 1490px 0px -1490px 60px 60px 348px 2524px '../img/sprites/spritesheet.png';
@icon-services-star-orange-x: 0px;
@icon-services-star-orange-y: 1250px;
@icon-services-star-orange-offset-x: 0px;
@icon-services-star-orange-offset-y: -1250px;
@icon-services-star-orange-width: 60px;
@icon-services-star-orange-height: 60px;
@icon-services-star-orange-total-width: 348px;
@icon-services-star-orange-total-height: 2524px;
@icon-services-star-orange-image: '../img/sprites/spritesheet.png';
@icon-services-star-orange: 0px 1250px 0px -1250px 60px 60px 348px 2524px '../img/sprites/spritesheet.png';
@icon-services-star-purple-x: 0px;
@icon-services-star-purple-y: 1610px;
@icon-services-star-purple-offset-x: 0px;
@icon-services-star-purple-offset-y: -1610px;
@icon-services-star-purple-width: 60px;
@icon-services-star-purple-height: 60px;
@icon-services-star-purple-total-width: 348px;
@icon-services-star-purple-total-height: 2524px;
@icon-services-star-purple-image: '../img/sprites/spritesheet.png';
@icon-services-star-purple: 0px 1610px 0px -1610px 60px 60px 348px 2524px '../img/sprites/spritesheet.png';
@icon-services-store-blue-x: 0px;
@icon-services-store-blue-y: 1730px;
@icon-services-store-blue-offset-x: 0px;
@icon-services-store-blue-offset-y: -1730px;
@icon-services-store-blue-width: 60px;
@icon-services-store-blue-height: 60px;
@icon-services-store-blue-total-width: 348px;
@icon-services-store-blue-total-height: 2524px;
@icon-services-store-blue-image: '../img/sprites/spritesheet.png';
@icon-services-store-blue: 0px 1730px 0px -1730px 60px 60px 348px 2524px '../img/sprites/spritesheet.png';
@icon-services-store-orange-x: 0px;
@icon-services-store-orange-y: 1670px;
@icon-services-store-orange-offset-x: 0px;
@icon-services-store-orange-offset-y: -1670px;
@icon-services-store-orange-width: 60px;
@icon-services-store-orange-height: 60px;
@icon-services-store-orange-total-width: 348px;
@icon-services-store-orange-total-height: 2524px;
@icon-services-store-orange-image: '../img/sprites/spritesheet.png';
@icon-services-store-orange: 0px 1670px 0px -1670px 60px 60px 348px 2524px '../img/sprites/spritesheet.png';
@icon-services-store-purple-x: 0px;
@icon-services-store-purple-y: 1790px;
@icon-services-store-purple-offset-x: 0px;
@icon-services-store-purple-offset-y: -1790px;
@icon-services-store-purple-width: 60px;
@icon-services-store-purple-height: 60px;
@icon-services-store-purple-total-width: 348px;
@icon-services-store-purple-total-height: 2524px;
@icon-services-store-purple-image: '../img/sprites/spritesheet.png';
@icon-services-store-purple: 0px 1790px 0px -1790px 60px 60px 348px 2524px '../img/sprites/spritesheet.png';
@icon-services-ticket-blue-x: 0px;
@icon-services-ticket-blue-y: 1310px;
@icon-services-ticket-blue-offset-x: 0px;
@icon-services-ticket-blue-offset-y: -1310px;
@icon-services-ticket-blue-width: 60px;
@icon-services-ticket-blue-height: 60px;
@icon-services-ticket-blue-total-width: 348px;
@icon-services-ticket-blue-total-height: 2524px;
@icon-services-ticket-blue-image: '../img/sprites/spritesheet.png';
@icon-services-ticket-blue: 0px 1310px 0px -1310px 60px 60px 348px 2524px '../img/sprites/spritesheet.png';
@icon-services-ticket-orange-x: 0px;
@icon-services-ticket-orange-y: 1370px;
@icon-services-ticket-orange-offset-x: 0px;
@icon-services-ticket-orange-offset-y: -1370px;
@icon-services-ticket-orange-width: 60px;
@icon-services-ticket-orange-height: 60px;
@icon-services-ticket-orange-total-width: 348px;
@icon-services-ticket-orange-total-height: 2524px;
@icon-services-ticket-orange-image: '../img/sprites/spritesheet.png';
@icon-services-ticket-orange: 0px 1370px 0px -1370px 60px 60px 348px 2524px '../img/sprites/spritesheet.png';
@icon-services-ticket-purple-x: 0px;
@icon-services-ticket-purple-y: 1430px;
@icon-services-ticket-purple-offset-x: 0px;
@icon-services-ticket-purple-offset-y: -1430px;
@icon-services-ticket-purple-width: 60px;
@icon-services-ticket-purple-height: 60px;
@icon-services-ticket-purple-total-width: 348px;
@icon-services-ticket-purple-total-height: 2524px;
@icon-services-ticket-purple-image: '../img/sprites/spritesheet.png';
@icon-services-ticket-purple: 0px 1430px 0px -1430px 60px 60px 348px 2524px '../img/sprites/spritesheet.png';
@icon-slider-next-hover-x: 0px;
@icon-slider-next-hover-y: 828px;
@icon-slider-next-hover-offset-x: 0px;
@icon-slider-next-hover-offset-y: -828px;
@icon-slider-next-hover-width: 24px;
@icon-slider-next-hover-height: 42px;
@icon-slider-next-hover-total-width: 348px;
@icon-slider-next-hover-total-height: 2524px;
@icon-slider-next-hover-image: '../img/sprites/spritesheet.png';
@icon-slider-next-hover: 0px 828px 0px -828px 24px 42px 348px 2524px '../img/sprites/spritesheet.png';
@icon-slider-next-x: 0px;
@icon-slider-next-y: 702px;
@icon-slider-next-offset-x: 0px;
@icon-slider-next-offset-y: -702px;
@icon-slider-next-width: 24px;
@icon-slider-next-height: 42px;
@icon-slider-next-total-width: 348px;
@icon-slider-next-total-height: 2524px;
@icon-slider-next-image: '../img/sprites/spritesheet.png';
@icon-slider-next: 0px 702px 0px -702px 24px 42px 348px 2524px '../img/sprites/spritesheet.png';
@icon-slider-prev-hover-x: 0px;
@icon-slider-prev-hover-y: 618px;
@icon-slider-prev-hover-offset-x: 0px;
@icon-slider-prev-hover-offset-y: -618px;
@icon-slider-prev-hover-width: 24px;
@icon-slider-prev-hover-height: 42px;
@icon-slider-prev-hover-total-width: 348px;
@icon-slider-prev-hover-total-height: 2524px;
@icon-slider-prev-hover-image: '../img/sprites/spritesheet.png';
@icon-slider-prev-hover: 0px 618px 0px -618px 24px 42px 348px 2524px '../img/sprites/spritesheet.png';
@icon-slider-prev-x: 0px;
@icon-slider-prev-y: 744px;
@icon-slider-prev-offset-x: 0px;
@icon-slider-prev-offset-y: -744px;
@icon-slider-prev-width: 24px;
@icon-slider-prev-height: 42px;
@icon-slider-prev-total-width: 348px;
@icon-slider-prev-total-height: 2524px;
@icon-slider-prev-image: '../img/sprites/spritesheet.png';
@icon-slider-prev: 0px 744px 0px -744px 24px 42px 348px 2524px '../img/sprites/spritesheet.png';
@icon-support-1-x: 0px;
@icon-support-1-y: 2444px;
@icon-support-1-offset-x: 0px;
@icon-support-1-offset-y: -2444px;
@icon-support-1-width: 80px;
@icon-support-1-height: 80px;
@icon-support-1-total-width: 348px;
@icon-support-1-total-height: 2524px;
@icon-support-1-image: '../img/sprites/spritesheet.png';
@icon-support-1: 0px 2444px 0px -2444px 80px 80px 348px 2524px '../img/sprites/spritesheet.png';
@icon-support-2-x: 0px;
@icon-support-2-y: 2364px;
@icon-support-2-offset-x: 0px;
@icon-support-2-offset-y: -2364px;
@icon-support-2-width: 80px;
@icon-support-2-height: 80px;
@icon-support-2-total-width: 348px;
@icon-support-2-total-height: 2524px;
@icon-support-2-image: '../img/sprites/spritesheet.png';
@icon-support-2: 0px 2364px 0px -2364px 80px 80px 348px 2524px '../img/sprites/spritesheet.png';
@icon-support-3-x: 0px;
@icon-support-3-y: 2204px;
@icon-support-3-offset-x: 0px;
@icon-support-3-offset-y: -2204px;
@icon-support-3-width: 80px;
@icon-support-3-height: 80px;
@icon-support-3-total-width: 348px;
@icon-support-3-total-height: 2524px;
@icon-support-3-image: '../img/sprites/spritesheet.png';
@icon-support-3: 0px 2204px 0px -2204px 80px 80px 348px 2524px '../img/sprites/spritesheet.png';
@icon-support-4-x: 0px;
@icon-support-4-y: 2284px;
@icon-support-4-offset-x: 0px;
@icon-support-4-offset-y: -2284px;
@icon-support-4-width: 80px;
@icon-support-4-height: 80px;
@icon-support-4-total-width: 348px;
@icon-support-4-total-height: 2524px;
@icon-support-4-image: '../img/sprites/spritesheet.png';
@icon-support-4: 0px 2284px 0px -2284px 80px 80px 348px 2524px '../img/sprites/spritesheet.png';
@icon-tooltip-white-x: 0px;
@icon-tooltip-white-y: 0px;
@icon-tooltip-white-offset-x: 0px;
@icon-tooltip-white-offset-y: 0px;
@icon-tooltip-white-width: 14px;
@icon-tooltip-white-height: 14px;
@icon-tooltip-white-total-width: 348px;
@icon-tooltip-white-total-height: 2524px;
@icon-tooltip-white-image: '../img/sprites/spritesheet.png';
@icon-tooltip-white: 0px 0px 0px 0px 14px 14px 348px 2524px '../img/sprites/spritesheet.png';
@icon-touragencies-lg-x: 0px;
@icon-touragencies-lg-y: 660px;
@icon-touragencies-lg-offset-x: 0px;
@icon-touragencies-lg-offset-y: -660px;
@icon-touragencies-lg-width: 44px;
@icon-touragencies-lg-height: 42px;
@icon-touragencies-lg-total-width: 348px;
@icon-touragencies-lg-total-height: 2524px;
@icon-touragencies-lg-image: '../img/sprites/spritesheet.png';
@icon-touragencies-lg: 0px 660px 0px -660px 44px 42px 348px 2524px '../img/sprites/spritesheet.png';
@icon-tours-x: 0px;
@icon-tours-y: 1920px;
@icon-tours-offset-x: 0px;
@icon-tours-offset-y: -1920px;
@icon-tours-width: 71px;
@icon-tours-height: 70px;
@icon-tours-total-width: 348px;
@icon-tours-total-height: 2524px;
@icon-tours-image: '../img/sprites/spritesheet.png';
@icon-tours: 0px 1920px 0px -1920px 71px 70px 348px 2524px '../img/sprites/spritesheet.png';
@icon-windows-1-x: 0px;
@icon-windows-1-y: 149px;
@icon-windows-1-offset-x: 0px;
@icon-windows-1-offset-y: -149px;
@icon-windows-1-width: 32px;
@icon-windows-1-height: 28px;
@icon-windows-1-total-width: 348px;
@icon-windows-1-total-height: 2524px;
@icon-windows-1-image: '../img/sprites/spritesheet.png';
@icon-windows-1: 0px 149px 0px -149px 32px 28px 348px 2524px '../img/sprites/spritesheet.png';
@icon-windows-2-x: 0px;
@icon-windows-2-y: 233px;
@icon-windows-2-offset-x: 0px;
@icon-windows-2-offset-y: -233px;
@icon-windows-2-width: 32px;
@icon-windows-2-height: 28px;
@icon-windows-2-total-width: 348px;
@icon-windows-2-total-height: 2524px;
@icon-windows-2-image: '../img/sprites/spritesheet.png';
@icon-windows-2: 0px 233px 0px -233px 32px 28px 348px 2524px '../img/sprites/spritesheet.png';
@icon-windows-3-x: 0px;
@icon-windows-3-y: 205px;
@icon-windows-3-offset-x: 0px;
@icon-windows-3-offset-y: -205px;
@icon-windows-3-width: 32px;
@icon-windows-3-height: 28px;
@icon-windows-3-total-width: 348px;
@icon-windows-3-total-height: 2524px;
@icon-windows-3-image: '../img/sprites/spritesheet.png';
@icon-windows-3: 0px 205px 0px -205px 32px 28px 348px 2524px '../img/sprites/spritesheet.png';
@icon-windows-4-x: 0px;
@icon-windows-4-y: 177px;
@icon-windows-4-offset-x: 0px;
@icon-windows-4-offset-y: -177px;
@icon-windows-4-width: 32px;
@icon-windows-4-height: 28px;
@icon-windows-4-total-width: 348px;
@icon-windows-4-total-height: 2524px;
@icon-windows-4-image: '../img/sprites/spritesheet.png';
@icon-windows-4: 0px 177px 0px -177px 32px 28px 348px 2524px '../img/sprites/spritesheet.png';

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: ~`"@{sprite}".split(', ')[4]`;
}

.sprite-height(@sprite) {
  height: ~`"@{sprite}".split(', ')[5]`;
}

.sprite-position(@sprite) {
  @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
  @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
  background-position: @sprite-offset-x  @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
  background-image: url(@sprite-image);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
